@import url(../Portfolio/_style2.scss);
@import url(../Studio/_style.scss);

@mixin flex ($flex, $align){
    display: $flex;
    align-items: $center;
}
@mixin color($black){
    color: $black;
}
@mixin text($center){
    text-align: $center;
}