@import '../Portfolio/_style2.scss';
@import '../Studio/_style.scss';

@mixin flex ($flex){
    display: $flex;
}

@mixin align($align){
    align-items: $center;
}

@mixin color($black){
    color: $black;
}
@mixin text($center){
    text-align: $center;
}

@mixin roboto($roboto){
    font-family: $Roboto;
}
@mixin font($font){
}